
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}

{{ 'cart.css' | asset_url | stylesheet_tag }}
{{ 'related_items_cart.css' | asset_url | stylesheet_tag }}

<cart-items class="page-width{% if cart == empty %} is-empty{% endif %}">
  <div class="cart-items-wrapper">
    {%- if cart == empty -%}
      <div class="linktitle_container product_title empty__title">
        <a>YOUR CART IS EMTPY</a>
      </div>
    {% endif %}
    {%- if cart != empty -%}
      <div id="deviceDesktop" class="text__wrapper">
        <div class="scroll-to-top">
          <div class="continue__shopping__wrapper">
            <a href="/collections/all" class="menu__items">
              Continue Shopping
            </a>
          </div>
        </div>
      </div>

<div>
      <div id="cartDesktop" class="collection__wrapper">
        {%- for item in cart.items limit: 2 -%}
          <div id="#productWrapper" class="individual__product__wrapper">
            {% if item.image %}
              <a href="{{ item.url }}" aria-hidden="true" tabindex="-1">
                <div class="image__container">
                  <img class="featured__image"
                       src="{{ item.image | img_url: '1200x1200' }}"
                  />
                </div>
              </a>
              <span class="cart_title_wrapper">
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__footer mobile__related__items">{{ item.title }}</a>
              </div>
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__titles">{{ item.quantity }} x {{ item.price | money_without_trailing_zeros }}</a>
              </div>
              </span>
              <div class="variant_dot_holder">
                <div class="finish__value">
                  <dl class="cart__variant__wrapper">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                          {% if option.value == 'Safari' %}
                            <div id="variantDots" class="color-swatch green" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% elsif option.value == 'Chesnut' %}
                            <div id="variantDots" class="color-swatch chesnut" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% endif %}
                      {%- endfor -%}
                    {%- endif -%}
                  </dl>
                </div>
              </div>
              <div class="product__text remove">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                  <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                    <p class="product__description remove">Remove</p>
                  </a>
                </cart-remove-button>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>

      {% if cart.item_count > 2 %}
      <div id="cartDesktop" class="collection__wrapper second-cart">
        {%- for item in cart.items offset: 2 limit: 2 -%}
          <div id="#productWrapper" class="individual__product__wrapper">
            {% if item.image %}
              <a href="{{ item.url }}" aria-hidden="true" tabindex="-1">
                <div class="image__container">
                  <img class="featured__image"
                       src="{{ item.image | img_url: '1200x1200' }}"
                  />
                </div>
              </a>
              <span class="cart_title_wrapper">
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__footer mobile__related__items">{{ item.title }}</a>
              </div>
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__titles">{{ item.quantity }} x {{ item.price | money_without_trailing_zeros }}</a>
              </div>
              </span>
              <div class="variant_dot_holder">
                <div class="finish__value">
                  <dl class="cart__variant__wrapper">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                          {% if option.value == 'Safari' %}
                            <div id="variantDots" class="color-swatch green" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% elsif option.value == 'Chesnut' %}
                            <div id="variantDots" class="color-swatch chesnut" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% endif %}
                      {%- endfor -%}
                    {%- endif -%}
                  </dl>
                </div>
              </div>
              <div class="product__text remove">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                  <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                    <p class="product__description remove">Remove</p>
                  </a>
                </cart-remove-button>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
      {% endif %}

      {% if cart.item_count > 4 %}
      <div id="cartDesktop" class="collection__wrapper second-cart">
        {%- for item in cart.items offset: 4 limit: 2 -%}
          <div id="#productWrapper" class="individual__product__wrapper">
            {% if item.image %}
              <a href="{{ item.url }}" aria-hidden="true" tabindex="-1">
                <div class="image__container">
                  <img class="featured__image"
                       src="{{ item.image | img_url: '1200x1200' }}"
                  />
                </div>
              </a>
              <span class="cart_title_wrapper">
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__footer mobile__related__items">{{ item.title }}</a>
              </div>
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__titles">{{ item.quantity }} x {{ item.price | money_without_trailing_zeros }}</a>
              </div>
              </span>
              <div class="variant_dot_holder">
                <div class="finish__value">
                  <dl class="cart__variant__wrapper">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                          {% if option.value == 'Safari' %}
                            <div id="variantDots" class="color-swatch green" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% elsif option.value == 'Chesnut' %}
                            <div id="variantDots" class="color-swatch chesnut" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% endif %}
                      {%- endfor -%}
                    {%- endif -%}
                  </dl>
                </div>
              </div>
              <div class="product__text remove">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                  <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                    <p class="product__description remove">Remove</p>
                  </a>
                </cart-remove-button>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
      {% endif %}
  </div>

      <div id="cartMobile" class="collection__wrapper">
        {%- for item in cart.items limit: 2 -%}
          <div id="#productWrapper" class="individual__product__wrapper">
            {% if item.image %}
              <a href="{{ item.url }}" aria-hidden="true" tabindex="-1">
                <div class="image__container">
                  <img class="featured__image"
                       src="{{ item.image | img_url: '1200x1200' }}"
                  />
                </div>
              </a>
              <span class="cart_title_wrapper">
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__footer mobile__related__items">{{ item.title }}</a>
              </div>
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__titles">{{ item.quantity }} x {{ item.price | money_without_trailing_zeros }}</a>
              </div>
              </span>
              <div class="variant_dot_holder">
                <div class="finish__value">
                  <dl class="cart__variant__wrapper">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                          {% if option.value == 'Safari' %}
                            <div id="variantDots" class="color-swatch green" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% elsif option.value == 'Chesnut' %}
                            <div id="variantDots" class="color-swatch chesnut" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% endif %}
                      {%- endfor -%}
                    {%- endif -%}
                  </dl>
                </div>
              </div>
              <div class="product__text remove">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                  <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                    <p class="product__description remove">Remove</p>
                  </a>
                </cart-remove-button>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>

      {% if cart.item_count > 2 %}
      <div id="cartMobile" class="collection__wrapper second-cart">
        {%- for item in cart.items offset: 2 limit: 2 -%}
          <div id="#productWrapper" class="individual__product__wrapper">
            {% if item.image %}
              <a href="{{ item.url }}" aria-hidden="true" tabindex="-1">
                <div class="image__container">
                  <img class="featured__image"
                       src="{{ item.image | img_url: '1200x1200' }}"
                  />
                </div>
              </a>
              <span class="cart_title_wrapper">
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__footer mobile__related__items">{{ item.title }}</a>
              </div>
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__titles">{{ item.quantity }} x {{ item.price | money_without_trailing_zeros }}</a>
              </div>
              </span>
              <div class="variant_dot_holder">
                <div class="finish__value">
                  <dl class="cart__variant__wrapper">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                          {% if option.value == 'Safari' %}
                            <div id="variantDots" class="color-swatch green" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% elsif option.value == 'Chesnut' %}
                            <div id="variantDots" class="color-swatch chesnut" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% endif %}
                      {%- endfor -%}
                    {%- endif -%}
                  </dl>
                </div>
              </div>
              <div class="product__text remove">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                  <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                    <p class="product__description remove">Remove</p>
                  </a>
                </cart-remove-button>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
      {% endif %}

      {% if cart.item_count > 4 %}
      <div id="cartMobile" class="collection__wrapper second-cart">
        {%- for item in cart.items offset: 4 limit: 2 -%}
          <div id="#productWrapper" class="individual__product__wrapper">
            {% if item.image %}
              <a href="{{ item.url }}" aria-hidden="true" tabindex="-1">
                <div class="image__container">
                  <img class="featured__image"
                       src="{{ item.image | img_url: '1200x1200' }}"
                  />
                </div>
              </a>
              <span class="cart_title_wrapper">
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__footer mobile__related__items">{{ item.title }}</a>
              </div>
              <div class="product__text__related__mobile">
                <a class="product__text__titles cart__titles">{{ item.quantity }} x {{ item.price | money_without_trailing_zeros }}</a>
              </div>
              </span>
              <div class="variant_dot_holder">
                <div class="finish__value">
                  <dl class="cart__variant__wrapper">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                          {% if option.value == 'Safari' %}
                            <div id="variantDots" class="color-swatch green" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% elsif option.value == 'Chesnut' %}
                            <div id="variantDots" class="color-swatch chesnut" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}">
                            </div>
                            <!-- <a class="cart__variant__value">{{ option.value }}</a> -->
                          {% endif %}
                      {%- endfor -%}
                    {%- endif -%}
                  </dl>
                </div>
              </div>
              <div class="product__text remove">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                  <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                    <p class="product__description remove">Remove</p>
                  </a>
                </cart-remove-button>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
      {% endif %}

      <div id="deviceDesktop" class="text__wrapper">
        <div class="scroll-to-top">
          <div class="checkout__wrapper">
            <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
              {%- if cart != empty -%}
                {% for block in section.blocks %}
                  {%- case block.type -%}
                    {%- when 'subtotal' -%}
                    {%- else -%}
                      <div class="checkout__wrapper">
                        <button type="submit" id="checkout" class="checkout__button" name="checkout"{% if cart == empty %} disabled {% endif %} form="cart">
                          Check Out
                        </button>
                      </div>
                  {%- endcase -%}
                {% endfor %}
              {%- endif -%}
            </form>
          </div>
        </div>
      </div>
    {%- endif -%}
    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </div>
</cart-items>


{%- if cart == empty -%}
<div class="related__items__cart__wrapper"></div>
{% endif %}
{%- if cart != empty -%}
<div class="related__items__cart__wrapper">
  <div class="related__items__container">
    <a class="related__items__title">Related Items:</a>
    <hr id="bottomLineCart">
    <div class="collection__wrapper related__items__wrapper">
      {% assign collection_handle = 'featured-products' %}
      {% for product in collections[collection_handle].products %}
        <div id="#productWrapper" class="individual__product__wrapper__cart__footer">
          <a href="{{ product.url}}">
            <div class="image__container__cart__footer">
              {% for image in product.images limit: 1 %}
              <img class="featured__image cart__footer" src="{{ image.src | img_url: '1200x1200' }}" alt="{{product.featured_image.alt}}" alt="" />
              {% endfor %}
            </div>
          </a>
          <div class="product__text">
            <a class="product__text__titles cart__footer">{{ product.title }}</a>
            <a class="product__text__titles cart__footer">{{ product.price | money_without_trailing_zeros }}</a>
          </div>
          {% if product.available %}
          <div class="product__text remove">
            <form method="post" action="/cart/add" id="addToBagText" class="product__title">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
              <input method="post" action="/cart/add" class="add__to__bag__text input__cart__footer" type="submit" value="Add to Bag"/>
            </form>
          </div>
          {% else %}
          <div class="product__text remove__disabled remove">
            <p class="product__description sold__out__cart__footer">Sold out</p>
          </div>
          {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{%- if cart != empty -%}
  <div class="cart__title__price__mobile mobile__button">
    <a class="product__text__titles cart_total">Total</a>
    <div class="price__wrapper" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
      <a class="product__price cart_total"> {{ cart.total_price | money_without_trailing_zeros }}</a>
    </div>
  </div>

  <div id="addToBag" class="checkout__wrapper  mobile__button">
    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      {%- if cart != empty -%}
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'subtotal' -%}
            {%- else -%}
                <button type="submit" id="checkout" class="checkout__button" name="checkout"{% if cart == empty %} disabled {% endif %} form="cart">
                  Check Out
                </button>
          {%- endcase -%}
        {% endfor %}
      {%- endif -%}
    </form>
  </div>
{% endif %}

<script src="{{ 'scroll_function_cart.js' | asset_url }}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });


  const BagNum = document.querySelector("#bagNum");
  const addToBagButtons = document.querySelectorAll(".add__to__bag__text");
  console.log(addToBagButtons)

  addToBagButtons.forEach(addToBagButton => {
    addToBagButton.addEventListener("click", function(){
      console.log(addToBagButton)

      window.setTimeout(function(){
        addToBagButton.style.pointerEvents = "none";
        location.reload();
        var addedValue = document.getElementById("bagNum").innerHTML;
        var newValue = parseInt(addedValue,10) + 1;
        document.getElementById("bagNum").innerHTML = newValue;
      }, 750)
    })
  })
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
